@import "~bootstrap/dist/css/bootstrap.min.css";
@import url(https://www.w3schools.com/w3css/4/w3.css);

body {
  margin: 0 auto;
  background-color: #3cd409;
  text-align: center;
}

#card {
  width: 450px;
  height: 750px;
  background-color: white;
  font-size: 60px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}

.symbol-left-black {
  color: black;
  align-self: flex-start;
  margin-left: 35px;
  font-size: 175px;
}
.center {
  align-self: center;
  font-size: 155px;
}
.symbol-right-black {
  color: black;
  align-self: flex-end;
  margin-right: 35px;
  font-size: 175px;
}

.symbol-left-red {
  color: red;
  align-self: flex-start;
  margin-left: 35px;
  font-size: 175px;
}

.symbol-right-red {
  color: red;
  align-self: flex-end;
  margin-right: 35px;
  font-size: 175px;
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  margin: 60px;
}

button:hover {
  background-color: #c5100a;
}

input {
  width: 15%;
  padding: 8px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
